body {
    background-color: #f2f2f2 !important;
}

.chat-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.chat-box {
    height: calc(100vh - 270px);
    overflow-y: auto;
    scrollbar-width: thin !important;
    scrollbar-color: rgba(98, 97, 97, 0.09) #f8f9fa;
}

.user-message {
    background-color: #f2f2f2;
    color: black;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
}

#user-input {
    height: 80px;
    outline: 0;
}

.form-control:active, .form-control:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.input-group:focus-within {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}


.bot-message {
    width: fit-content;
    margin: 10px 0;
    text-align: left;
}

.fa-brands {
    opacity: 0.5;
}

.fa-brands:hover {
    opacity: 0.8;
}

.loader {
    font-size: 14px;
    display: flex;
    align-items: center;
    animation: blink 1.5s infinite;
}

.loader span {
    color: rgba(0, 0, 0, 0.83);
    display: inline-block;
    margin: 0 2px;
    font-size: 14px;
}

.loader span:nth-child(1) { animation-delay: 0s; }
.loader span:nth-child(2) { animation-delay: 0.2s; }
.loader span:nth-child(3) { animation-delay: 0.3s; }
.loader span:nth-child(4) { animation-delay: 0.4s; }
.loader span:nth-child(5) { animation-delay: 0.5s; }

@keyframes blink {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}

#recent_questions, #frequent_questions {
    overflow-y: auto;
    scrollbar-width: thin !important;
    scrollbar-color: rgba(98, 97, 97, 0.09) #f8f9fa;
    max-height: calc(100vh - 285px);
}

#frequent_questions {
    max-height: calc(100vh - 270px);
}

.question-item {
    width: fit-content;
    color: black;
    cursor: pointer;
    background-color: #f8f9fa;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 10px;
    border-radius: 5px;
}

.question-item:hover {
    background-color: #d3d4d5;
}

.nav-item .nav-link:hover {
    font-weight: bold;
}

.active-link {
    font-weight: bold !important;
}

#current-topic {
    font-weight: bold;
    margin: 10px 0;
    font-size: 14px;
}

#frequent-collapse-btn, #recent-collapse-btn {
    display: none;
}

@media (max-width: 600px) {
    #frequent-collapse-btn, #recent-collapse-btn {
        display: block;
    }
}
